* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body, button, input {
    font-family: 'Poppins', sans-serif;
}

a {
    color: black;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}



/* ALL SCROLLBARS */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 0.2rem;
}